<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="iAndroid.what2wear"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="8"/>
    <supports-screens android:anyDensity="false" />
    <application android:icon="@drawable/our_icon" android:label="@string/app_name">
       <activity android:name=".AndroidList"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".google.OAuthMain"
			android:launchMode="singleTask">
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
				<data android:scheme="x-what-2-wear" android:host="callback" />
			</intent-filter>
		</activity>
		<activity android:name=".SearchItemActivity"></activity>
		<activity android:name=".ShowResults"></activity>
		<activity android:name=".UploadActivity"></activity>
		<activity android:name=".SearchByWeatherActivity"></activity>
		<activity android:name=".SigninOptions"
				  android:theme="@android:style/Theme.Dialog"></activity>
		<activity android:name=".BigPicDialog"
				  android:theme="@style/Theme.MyDialog"></activity>
	  	<activity android:name=".Advanced"
				  android:theme="@style/Theme.MyDialog"></activity>
		<activity android:name=".ColorsDialog"
				  android:theme="@style/Theme.MyDialog"></activity>
		<activity android:name=".Top5"></activity>
		<activity android:name=".ShowMembersResults"></activity>
		<activity android:name=".MyFriends"></activity>
		<activity android:name=".Preferences"
        		  android:label="@string/set_preferences">
		</activity>
    </application>


</manifest> 